telegramApiKey=5551468790:AAFDr92reh1PwOId8zE6IsxpzDVgdSKbBNk
GrpcNetwork=tcp
GrpcServerAddress=localhost:8081
HttpServerAddress=localhost:8080
SwaggerComponentsFilepath=./thirdParty/openApi
SwaggerUiAddress=localhost:8082
SwaggerUiEndpoint=/swagger/
DbConn=host=localhost port=6432 user=user password=password dbname=order